<a href="https://colab.research.google.com/github/rrben/Regressao/blob/main/house.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
casa = pd.read_excel("/content/house (1).xlsx")
casa.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,Gd,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,TA,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,Gd,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,TA,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,Gd,...,192,84,0,0,0,0,0,12,2008,250000

In [5]:
casa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 40 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotFrontage    1201 non-null   float64
 3   LotArea        1460 non-null   int64
 4   OverallQual    1460 non-null   int64
 5   OverallCond    1460 non-null   int64
 6   YearBuilt      1460 non-null   int64
 7   YearRemodAdd   1460 non-null   int64
 8   MasVnrArea     1452 non-null   float64
 9   ExterQual      1460 non-null   object
 10  ExterCond      1460 non-null   object
 11  BsmtFinSF1     1460 non-null   int64
 12  BsmtFinSF2     1460 non-null   int64
 13  BsmtUnfSF      1460 non-null   int64
 14  TotalBsmtSF    1460 non-null   int64
 15  1stFlrSF       1460 non-null   int64
 16  2ndFlrSF       1460 non-null   int64
 17  LowQualFinSF   1460 non-null   int64
 18  GrLivArea      1460 non-null   int64
 19  BsmtFullBath   1460 non-null   int64
 20  BsmtHalfBath   1460 non-null   int64
 21  FullBath       1460 non-null   int64
 22  HalfBath       1460 non-null   int64
 23  BedroomAbvGr   1460 non-null   int64
 24  KitchenAbvGr   1460 non-null   int64
 25  TotRmsAbvGrd   1460 non-null   int64
 26  Fireplaces     1460 non-null   int64
 27  GarageYrBlt    1379 non-null   float64
 28  GarageCars     1460 non-null   int64
 29  GarageArea     1460 non-null   int64
 30  WoodDeckSF     1460 non-null   int64
 31  OpenPorchSF    1460 non-null   int64
 32  EnclosedPorch  1460 non-null   int64
 33  3SsnPorch      1460 non-null   int64
 34  ScreenPorch    1460 non-null   int64
 35  PoolArea       1460 non-null   int64
 36  MiscVal        1460 non-null   int64
 37  MoSold         1460 non-null   int64
 38  YrSold         1460 non-null   int64
 39  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(2)
memory usage: 456.4+ KB

In [7]:
casa = casa.dropna()

In [8]:
casa = pd.get_dummies(casa)
casa.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,YrSold,SalePrice,ExterQual_Ex,ExterQual_Fa,ExterQual_Gd,ExterQual_TA,ExterCond_Ex,ExterCond_Fa,ExterCond_Gd,ExterCond_TA
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,2008,208500,0,0,1,0,0,0,0,1
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,2007,181500,0,0,0,1,0,0,0,1
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,2008,223500,0,0,1,0,0,0,0,1
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,2006,140000,0,0,0,1,0,0,0,1
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,2008,250000,0,0,1,0,0,0,0,1

In [11]:
labels = np.array(casa['SalePrice'])

features= casa.drop('SalePrice', axis = 1)

feature_list = list(casa.columns)

features = np.array(features)

In [12]:
from sklearn.model_selection import train_test_split

train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [13]:
from sklearn.datasets import make_moons
from sklearn import metrics
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor

In [14]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

rf.fit(train_features, train_labels);

In [15]:
predictions_rf = rf.predict(test_features)

errors_rf = abs(predictions_rf - test_labels)

r_sq = rf.score(features, labels)
print('Coeficiente de DeterminaÃ§Ã£o (RÂ²):', r_sq)

print('MAE:', metrics.mean_absolute_error(test_labels, predictions_rf))
print('MSE:', metrics.mean_squared_error(test_labels, predictions_rf))
print('RMSE:', np.sqrt(metrics.mean_squared_error(test_labels, predictions_rf)))

Coeficiente de DeterminaÃ§Ã£o (RÂ²): 0.9485886719577706
MAE: 19122.88696441281
MSE: 937331048.1581936
RMSE: 30615.862688452755

In [19]:
ada = AdaBoostRegressor(n_estimators = 1000)

ada.fit(train_features, train_labels);

In [20]:
predictions_ada = ada.predict(test_features)

errors_ada = abs(predictions_ada - test_labels)

r_sq = ada.score(features, labels)
print('Coeficiente de DeterminaÃ§Ã£o (RÂ²):', r_sq)

print('MAE:', metrics.mean_absolute_error(test_labels, predictions_rf))
print('MSE:', metrics.mean_squared_error(test_labels, predictions_rf))
print('RMSE:', np.sqrt(metrics.mean_squared_error(test_labels, predictions_rf)))

Coeficiente de DeterminaÃ§Ã£o (RÂ²): 0.8662479896266662
MAE: 19122.88696441281
MSE: 937331048.1581936
RMSE: 30615.862688452755

In [21]:
grb = GradientBoostingRegressor(n_estimators = 1000)

grb.fit(train_features, train_labels);

In [22]:
predictions_grb = grb.predict(test_features)

errors_grb = abs(predictions_grb - test_labels)

r_sq = grb.score(features, labels)
print('Coeficiente de DeterminaÃ§Ã£o (RÂ²):', r_sq)

print('MAE:', metrics.mean_absolute_error(test_labels, predictions_rf))
print('MSE:', metrics.mean_squared_error(test_labels, predictions_rf))
print('RMSE:', np.sqrt(metrics.mean_squared_error(test_labels, predictions_rf)))

Coeficiente de DeterminaÃ§Ã£o (RÂ²): 0.9716047700626738
MAE: 19122.88696441281
MSE: 937331048.1581936
RMSE: 30615.862688452755